body {
    background-color: #494E6B;
    margin: 0;
}

h1 {
    margin: 24px;
    font-family: Arial, Helvetica, sans-serif;
}

.navbar {
    background-color: #192231;
    margin: 0;
    padding: 0px;
    overflow: hidden;
    box-shadow: 0 4px 4px rgba(0,0,0,.25);
}

.navbar a {
    float:left;
    color: whitesmoke;
    text-align: center;
    padding: 18px 16px;
    text-decoration: none;
    font-size: 24px;
    font-family: Arial, Helvetica, sans-serif;
}

.navbar a:hover {
    background-color: #98878F;
    color: black;
}

